!! Colorscheme
! special
*.foreground:   #ffffff
*.background:   #222121
*.cursorColor:  #ffffff

! black
*.color0:       #2a2626
*.color8:       #666666

! red
*.color1:       #f05252
*.color9:       #c2532f

! green
*.color2:       #b7ce42
*.color10:      #07fb4d

! yellow
*.color3:       #fea63c
*.color11:      #fedc17

! blue
*.color4:       #66aabb
*.color12:      #de97e2

! magenta
*.color5:       #ce648d
*.color13:      #e16a98

! cyan
*.color6:       #fade3d
*.color14:      #30ebff

! white
*.color7:       #dddddd
*.color15:      #cccccc
URxvt.font:                     xft:Hack:autohint=true:antialias=true:bold:size=9.5,xft:Hack Nerd Font Mono:style=Regular:bold:size=9.5,xft:monofur for Powerline:style=Regular:bold:size=9.5,xft:DejaVu Sans Mono:bold:size=9.5
URxvt.boldFont:                 xft:Hack:autohint=true:antialias=true:bold:size=9.5,xft:Hack Nerd Font Mono:style=Regular:bold:size=9.5,xft:monofur for Powerline:style=Bold:bold:size=9.5,xft:DejaVu Sans Mono:bold:size=9.5
URxvt.italicFont:               xft:Hack:autohint=true:antialias=true:bold:size=9.5,xft:Hack Nerd Font Mono:style=Regular:italic:size=9.5,xft:monofur for Powerline:style=Italic:bold:size=9.5,xft:DejaVu Sans Mono:italic:size=9.5
URxvt.boldItalicFont:           xft:Hack:autohint=true:antialias=true:bold:size=9.5,xft:Hack Nerd Font Mono:style=Regular:bold:italic:size=9.5,xft:monofur for Powerline:style=Bold Italic:bold:size=9.5,xft:DejaVu Sans Mono:bold:size=9.5
! URxvt.italicFont: xft:Hack:size=10:antialias=true
! URxvt.boldItalicfont: xft:Hack:size=10:antialias=true
! ! URxvt.font: xft:Hack Nerd Font Mono:style=Bold:size=9,xft:DejaVu Sans Mono for Powerline
! URxvt.boldFont: xft:Hack Nerd Font Mono:style=Bold:size=9,xft:DejaVu Sans Mono for Powerline
! URxvt.italicFont: xft:Hack Nerd Font Mono:style=Bold:size=9,xft:DejaVu Sans Mono for Powerline
! URxvt.boldItalicfont: xft:Hack Nerd Font Mono:style=Bold:size=9,xft:DejaVu Sans Mono for Powerline
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt*termName: rxvt-256color
URxvt*geometry:  240x84
URxvt*fading:  30
! URxvt.geometry: 92x24
! URxvt.internalBorder: 12
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
! URxvt.depth: 24
URxvt.iso14755: false
URxvt.depth: 32
URxvt.background: [85]#000000

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D
!-*- Perl extensions -*-
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V:perl:pasta:paste
! Comment this if you do not want copy when text is selected
URxvt.clipboard.autocopy: true
